<% title = nil unless local_assigns.has_key? :title %>
<% subject = nil unless local_assigns.has_key? :subject %>
<% contactable = nil unless local_assigns.has_key? :contactable %>

<section class="pad-xs-NS-50 cover text-white" style="background-image: url('<%= asset_path 'contact-bg.jpg' %>')">
	<div class="container">
		<div class="section-title">
			<h2 class="text-white"><%= title || 'Contactese ahora' %></h2>
			<p class="text-white">Un profesional responderá su consulta a la brevedad.</p>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
				<%= render 'partials/contact_form', subject: subject, contactable: contactable %>
			</div>
		</div>
	</div>
</section>