<div class="col-xs-3">
	<%= link_to '#', class: 'tile tile-sm' do %>
		<div class="tile-image">
			<%= image_tag development[:cover], class: 'cover' %>
		</div>
		<div class="tile-body">
			<h2 class="tile-title"><%= development[:neighborhood] %></h2>
			<p class="tile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
		</div>
	<% end %>
</div>