<% row_class = false unless local_assigns.has_key? :row_class %>

<section class="pad-xs-S-70">
	<div class="container bg-white">
		<div class="section-title">
			<h2>Emprendimientos</h2>
			<p>Edificios de pozo, en construcci칩n, y a estrenar. Excelentes valores con financiaci칩n.</p>
		</div>
		<div class="row <%= row_class %>">
			<% @developments.each do |development| %>
				<%= render 'partials/development', development: development %>
			<% end %>
		</div>
		<div class="text-center mar-xs-N-30">
			<% if params[:action] == 'developments' %>
				<%= link_to '#' do %>
					Ver M치s &nbsp;<i class="fa fa-arrow-circle-down"></i>
				<% end %>
			<% else %>
				<%= link_to developments_page_path do %>
					Ver M치s &nbsp;<i class="fa fa-arrow-circle-right"></i>
				<% end %>
			<% end %>
		</div>
	</div>
</section>