<% row_class = false unless local_assigns.has_key? :row_class %>

<% content_for :extra_js do %>
	Utils.paginationNext();
<% end %>

<section class="pad-xs-S-70">
	<div class="container bg-white">
		<div class="section-title">
			<h2>Emprendimientos</h2>
			<p>Edificios de pozo, en construcci칩n, y a estrenar. Excelentes valores con financiaci칩n.</p>
		</div>
		<div class="row <%= row_class %>" id="developments">
			<%= render @developments %>
		</div>
		<div class="text-center mar-xs-N-30">
			<% if params[:action] == 'developments' %>
				<% unless @developments.total_pages == @developments.current_page %>
					<% next_page = params[:page].present? ? params[:page].to_i + 1 : 2 %>
					<%= link_to '?page=', id: 'pagination_next', data: { page: next_page } do %>
						Ver M치s &nbsp;<i class="fa fa-arrow-circle-down"></i>
					<% end %>
				<% end %>
			<% else %>
				<%= link_to developments_page_path do %>
					Ver M치s &nbsp;<i class="fa fa-arrow-circle-right"></i>
				<% end %>
			<% end %>
		</div>
	</div>
</section>