<% content_for :extra_js do %>
	$('.main-slider').slider();
<% end %>

<section class="main-slider" data-slider=".slider-item">
	<div class="slider-items">
		<% @slider_items.each do |slider_item| %>
			<%= render 'partials/main_slider_item', slider_item: slider_item %>
		<% end %>
	</div>
</section>