<% content_for :extra_js do %>
	$('.main-slider').slider();
<% end %>

<section class="main-slider" data-slider=".slider-item">
	<div class="slider-items">
		<%= render @showcase_items %>
	</div>
</section>