<section class="display" style="background-image: url('<%= asset_path 'display-promociones.jpg' %>')">
	<div class="container">
		<div class="display-caption">
			<h2 class="display-title">Promociones</h2>
			<p class="display-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
			<%= link_to 'Ver Promociones', '#', class: 'btn btn-primary btn-fix' %>
		</div>
	</div>
</section>