<section class="display" style="background-image: url('<%= asset_path 'display-promociones.jpg' %>')">
	<div class="container">
		<div class="display-caption">
			<h2 class="display-title">Promociones</h2>
			<p class="display-text">Tenemos oportunidades para hacer rendir mas tu dinero y tu inversion.</p>
			<%= link_to 'Ver Promociones', '#', class: 'btn btn-primary btn-fix' %>
		</div>
	</div>
</section>