<section>
	<div class="container bg-white">
		<div class="section-title">
			<h2>Servicios</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<%= link_to investments_path, class: 'tile' do %>
					<div class="tile-image">
						<%= image_tag 'tile-inversiones.jpg', class: 'cover-inverted' %>
					</div>
					<div class="tile-body">
						<h2 class="tile-title">Inversiones</h2>
						<p class="tile-text">Te proponemos una variedad de opciones para lograr conseguir la mejor rentabilidad en inmuebles, desde unidades para renta mensual, o inversiones de pozo con financiación.</p>
						<span class="btn btn-primary btn-fix tile-btn">Consultar</span>
					</div>
				<% end %>
			</div>
			<div class="col-xs-12 col-sm-6">
				<%= link_to assessments_path, class: 'tile' do %>
					<div class="tile-image">
						<%= image_tag 'tile-tasaciones.jpg', class: 'cover-inverted' %>
					</div>
					<div class="tile-body">
						<h2 class="tile-title">Tasaciones</h2>
						<p class="tile-text">Cotizamos SIN CARGO tu inmueble en base a tus necesidades, asesorándote desde el comienzo hasta el final de la operación respecto del mercado inmobiliario argentino, y los costos e impuestos que demanda.</p>
						<span class="btn btn-primary btn-fix tile-btn">Solicitar</span>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</section>