<% content_for :extra_js do %>
  $('.card-gallery').gallery();
<% end %>

<h1 style="margin-bottom:30px;">Propiedades <%= link_to 'Crear nueva', new_property_path, class: 'pull-right btn btn-warning' %></h1>

<%= render @properties %>