<%= render 'partials/main_slider' %>
<div class="page-content">
	<section class="pad-xs-S-70">
		<div class="container bg-white">
			<div class="wall">
				<h2 class="wall-title">La empresa</h2>
				<p>
					La dirección de Beigel Bienes Raíces establece como política de la Calidad:<br>
					<br>
					“Crecer continuamente, destacándonos por brindar servicios de excelencia, con personal altamente profesionalizado, seriedad en nuestras transacciones y con el objetivo de lograr el máximo grado de satisfacción de nuestros Clientes.”<br>
					<br>
					Para ello, la dirección y todo el personal de Beigel Bienes Raíces se compromete a implementar, mantener, revisar y mejorar continuamente un Sistema de Gestión de la Calidad basadoen los principios de la norma ISO 9001:2000.
				</p>
				<h2 class="wall-title">¿Por qué beigel?</h2>
				<p>
					Porque creemos y sabemos que somos una empresa de servicios, porque queremos brindarle la excelencia en servicios inmobiliarios, para lo cual le ofrecemos 35 años de experiencia, personal atento y profesionalizado.<br>
					<br>
					Porque somos la primera Inmobiliaria Certificada con la norma ISO 9000 en servicio al cliente.<br>
					<br>
					Porque estamos adheridos a uno de los sistemas inmobiliarios más reconocidos, para brindarle el mejor servicio.<br>
					<br>
					ADINCO<br>
					<br>
					Y fundamentalmente porque creemos que una operación inmobiliaria debe ser una grata experiencia.
				</p>
			</div>
		</div>
	</section>
</div>