<% content_for :extra_script do %>
	<script type="text/javascript">
		var startMap = function() {
			Utils.startMap('contact-map');
		};
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?callback=startMap"></script>
<% end %>

<%= render 'partials/main_slider' %>
<div class="page-content">
	<section class="pad-xs-S-30">
		<div class="container pad-xs-NS-50 cover" style="background-image: url('<%= asset_path 'contact-bg.jpg' %>')">
			<div class="section-title">
				<h2 class="text-white">Contactese ahora</h2>
				<p class="text-white">Un profesional responderá su consulta a la brevedad.</p>
			</div>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4">
					<%= render 'partials/contact_form' %>
				</div>
			</div>
		</div>
	</section>
	<section class="pad-xs-S-70">
		<div class="container">
			<div class="section-title">
				<h2>Ubicación</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
			</div>
			<div class="contact-map">
				<div class="map-canvas" id="contact-map"></div>
			</div>
		</div>
	</section>
</div>