<%= render 'partials/main_slider' %>
<div class="page-content">
	<%= render 'partials/services' %>
	<section class="pad-xs-S-70">
		<div class="container">
			<div class="cover pad-xs-N-20 pad-xs-S-50 text-white" style="background-image: url('<%= asset_path 'contact-bg.jpg' %>')">
				<div class="section-title">
					<h2 class="text-white">Contactese ahora</h2>
					<p class="text-white">Un profesional responderá su consulta a la brevedad.</p>
				</div>
				<div class="row">
					<div class="col-xs-4 col-xs-offset-4">
						<%= render 'partials/contact_form' %>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>