<h1 style="margin-bottom:30px;">Emprendimientos <%= link_to 'Crear nuevo', new_development_path, class: 'pull-right btn btn-warning' %></h1>
<p><%= page_entries_info @developments %></p>

<% @developments.each do |development| %>
  <%= render 'panel_development', development: development %>
<% end %>

<%= will_paginate @developments %>