.bg-primary { color: #FFF; background-color: $brand-primary; }
.bg-success { color: #FFF; background-color: $brand-success; }
.bg-info { color: #FFF; background-color: $brand-info; }
.bg-warning { color: #FFF; background-color: $brand-warning; }
.bg-danger { color: #FFF; background-color: $brand-danger; }
.bg-white { background-color: #FFF; }
.bg-wall { background-color: #f3f3f3; }