.card { @include clear-both; position: relative; height: 280px; margin-bottom: 30px; color: #333333; }
.card-image { float: left; width: 53%; overflow: hidden; height: 100%; }
.card-body { float: left; width: 47%; background-color: #f3f3f3; height: 100%; padding: 40px; }
.card-title { @extend .title; font-size: 22px; margin-bottom: 10px; }
.card-text { color: #97a6b7; }
.card-price { margin: 0 0 40px; font-size: 20px; }

a.card { @include block-link; }

.content .card { height: 272px; }

.card-compress { font-size: .9em; 
	.card-body { padding: 25px 40px; }
	.card-price { margin: 0 0 15px; }
}