.card { position: relative; margin-bottom: 30px; color: #333333; padding-left: 53%; background-color: #f3f3f3; 
	@media(min-width: $screen-md-min) {
		&.property { height: 288px;
			&.card-compress { height: 272px; }
			.card-text { min-height: 80px; }
		}
	}
}
.card-image { position: absolute; width: 53%; overflow: hidden; height: 100%; left: 0; top: 0; 
	img { height: 100%; width: auto; }
}
.card-body { padding: 40px; position: relative; height: 100%;
	@media(min-width: $screen-md-min) {
		span.btn-fix { position: absolute; bottom: 0; margin-bottom: 30px; }
	}
}
.card-title { @extend .title; font-size: 22px; margin-bottom: 10px; }
.card-text { color: #97a6b7; }
.card-price { margin: 0 0 10px; font-size: 20px; }

a.card { @include block-link; }

.card-compress { font-size: .9em;
	.card-body { padding: 25px 40px; }
	.card-price { margin: 0 0 15px; }
	@media(max-width: $screen-xs-max) {
		.card-body { padding: 15px; }
	}
}

@media(max-width: $screen-sm-max) {
	.card { padding-left: 0; }
	.card-image { position: relative; width: 100%; height: 250px; }
	.card-image img { width: 100%; height: auto; margin-top: -6%; }
}

@media(max-width: $screen-xs-max) {
	.card-image { height: auto; }
	.card-body { padding: 15px; }
}

/* CARD GALLERY */
.card-gallery { @extend .card-image; @include gallery;
	.gallery-items>div { background-color: #f3f3f3;
		@media(max-width: $screen-xs-max) {
			& { top: auto; bottom: 0; }
			&.active { position: relative; }
			&.left, &.right { position: absolute; }
		}
	}
	&:hover {
		.gallery-left,.gallery-right,.gallery-toggle { opacity: 1; }
	}
	.gallery-loader { background-color: rgba(243, 243, 243, 0.85); }
}