.page-content { margin-top: -85px; position: relative; }
.content { padding: 30px; margin: 0 -10px; }
@media(max-width: $screen-xs-max) {
	.content { padding: 10px; }
}

.btn-fix { min-width: 170px; padding: 10px 20px; }
.btn-fix.btn-sm { min-width: 105px; padding: 8px 16px; border-radius: 3px; }

.section-title { text-align: center; color: #97a6b7; margin: 50px 0;
	>h2, >h1 { color: #7b8696; text-transform: uppercase; font-weight: 600; letter-spacing: 6px; text-indent: 3px; margin: 0 0 12px; }
	>h1 { font-size: 24px; }
	>h2 { font-size: 18px; }
	>p { font-size: .9em; max-width: 300px; margin: 0 auto; font-weight: 300;
		&.wide { max-width: 600px; }
	}
}

.partner-logo { text-align: center; height: 100px; margin: 30px 0;
	img { max-width: 225px; max-height: 85px; height: auto; width: auto; }
	&.sm img { max-height: 35px; max-width: 150px; }
}
@media(max-width: $screen-sm-max) {
	.partner-logo img { max-width: 170px; max-height: 65px; }
}
@media(max-width: $screen-md-max) {
	.partner-logo img { max-width: 190px; max-height: 70px; }
}

.contact-map>.map-canvas { height: 400px; }

.main-image { @extend .cover; height: 160px; }

.content-table { width: 100%; text-align: center; font-size: 1.2em; background-color: #F3F3F3;
	th { text-align: inherit; background-color: #343f45; color: #FFF; padding: 15px 0; }
	td { padding: 5px 0; }
	tbody {
		&:before, &:after { content: ' '; display: block; height: 10px; }
		>tr:hover { background-color: #029351; color: #fff; }
	}
}
@media(max-width: $screen-md-max) {
	.content-table { font-size: 1em; }
}

.price-box { display: inline-block; margin-bottom: 5px; margin-right: 10px; width: 160px; text-align: center; border: 1px solid #029351; padding-bottom: 2px;
	@media(max-width: 399px) { width: 100%; margin: 0;
		&+.price-box { margin-top: 10px; }
	}
}
.price-box h4 { font-size: 14px; color: #fff; background-color: #029351; margin: 0 0 2px; padding: 5px; }

.pagination { display: block; text-align: center; margin-top: 50px;
	&>* { @extend .btn; @extend .btn-sm; }
	&>a, &>span { @extend .btn-primary; }
	&>em { @extend .btn-warning; @extend .disabled; }
}

.showcase-item-toggle {
	&:not(.active) .fa-star, &.active .fa-star-o { display: none; }
	&:not(.loading) .fa-spinner { display: none; }
	&.loading { .fa-star, .fa-star-o { display: none; } }
}

.promotion-toggle {
	&:not(.active) .fa-toggle-on, &.active .fa-toggle-off { display: none; }
	&:not(.loading) .fa-spinner { display: none; }
	&.loading { .fa-toggle-off, .fa-toggle-on { display: none; } }
}

a.table-photo-link {
	margin: -5px; display: block; line-height: 30px;
	overflow: hidden; padding-left: 50px; position: relative; color: inherit;
	max-width: 300px; text-overflow: ellipsis; white-space: nowrap;
	img { position: absolute; top: 0; left: 0; height: auto; height: 30px; }
}

th[data-order] { cursor: pointer;
	&:before {font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
	&.asc:before { content: '\f0dd'; vertical-align: top; margin-right: 6px;}
	&.desc:before { content: '\f0de'; vertical-align: bottom; margin-right: 6px;}
}