.page-content { margin-top: -85px; position: relative; }

.btn-fix { width: 170px; padding: 10px 0; }
.btn-fix.btn-sm { width: 105px; padding: 8px 0; border-radius: 3px; }

.section-title { text-align: center; color: #97a6b7; margin: 50px 0;
	>h2 { color: #7b8696; text-transform: uppercase; font-weight: 600; font-size: 18px; letter-spacing: 6px; text-indent: 3px; margin: 0 0 12px; }
	>p { font-size: .9em; max-width: 300px; margin: 0 auto; font-weight: 300; }
}

.partner-logo { text-align: center; height: 100px; margin: 30px 0;
	img { max-width: 225px; max-height: 85px; height: auto; width: auto; }
}