.page-content { margin-top: -85px; position: relative; }
.content { padding: 30px; margin: 0 -10px; }

.btn-fix { min-width: 170px; padding: 10px 20px; }
.btn-fix.btn-sm { min-width: 105px; padding: 8px 16px; border-radius: 3px; }

.section-title { text-align: center; color: #97a6b7; margin: 50px 0;
	>h2 { color: #7b8696; text-transform: uppercase; font-weight: 600; font-size: 18px; letter-spacing: 6px; text-indent: 3px; margin: 0 0 12px; }
	>p { font-size: .9em; max-width: 300px; margin: 0 auto; font-weight: 300; }
}

.partner-logo { text-align: center; height: 100px; margin: 30px 0;
	img { max-width: 225px; max-height: 85px; height: auto; width: auto; }
	&.sm img { max-height: 35px; max-width: 150px; }
}

.contact-map>.map-canvas { height: 400px; }

.main-image { @extend .cover; height: 160px; }

.content-table { width: 100%; text-align: center; font-size: 1.2em; background-color: #F3F3F3;
	th { text-align: inherit; background-color: #343f45; color: #FFF; padding: 15px 0; }
	td { padding: 5px 0; }
	tbody {
		&:before, &:after { content: ' '; display: block; height: 10px; }
		>tr:hover { background-color: #029351; color: #fff; }
	}
}