@mixin radioBtn($size, $color) {
	content: " ";display: inline-block;height: $size;width: $size;background-color: $color;border-radius: 50%;position: absolute;left: 0;top: 50%;
}
@mixin checkboxBtn($size, $color) {
	content: " ";display: inline-block;height: $size;width: $size;background-color: $color;position: absolute;left: 0;top: 50%;
}

textarea.form-control { resize: none; }

.radio-inline { height: 32px; line-height: 32px; position: relative; font-size: .9em; padding-left: 17px;
	&:before {@include radioBtn(10px, transparent); border: 1px solid #FFF;margin: -5px 0;}
	&.active:after {@include radioBtn(6px, #fff); margin: -3px 2px;}
	>input { display: none; }
}
.checkbox-inline { height: 32px; line-height: 32px; position: relative; font-size: .9em; padding-left: 17px;
	&:before {@include checkboxBtn(14px, transparent); border: 2px solid #333;margin: -7px 0;}
	&.active:after {@include checkboxBtn(6px, #333); margin: -3px 4px;}
	>input { display: none; }
}

.form-control { padding: 6px 12px; height: 32px; font-size: 12px; }
button.btn.dropdown-toggle.form-control.selectpicker { @extend .form-control }
.dropdown-menu > li > a { padding: 3px 12px; }

.alternative-inputs .form-control { color: #7F8999; background-color: #efefef; border: 1px solid #029351; font-size: 1em; }

.bootstrap-select.btn-group .btn .filter-option { text-overflow: ellipsis; padding-right: 12px; }
.bs-actionsbox .btn { border: 1px solid #ccc; }

label.error { color: #FF9C00; }

.form-format form {
	.field { @extend .form-group;
		input:not([type="checkbox"]):not([type="radio"]), textarea, select {
			@extend .form-control;
			color: #7F8999;
			background-color: #efefef;
			border: 1px solid #029351;
			font-size: 1em;
			&:focus { border: 1px solid #029351; }
		}
		.btn-group.bootstrap-select { width: 100%!important; }
		button.selectpicker {
			@extend .form-control;
			color: #7F8999 !important;
			background-color: #efefef !important;
			border: 1px solid #029351 !important;
			font-size: 1em !important;
			width: auto;
			&:focus { border: 1px solid #029351!important; }
		}
		textarea { height: auto; }
		.field-title { border-bottom: 1px solid #7F8999; margin: 30px 0 15px; padding-bottom: 5px; 
			label.checkbox-inline { font-size: 12px; margin-left: 40px; }
		}
	}
	.actions { margin-bottom: 20px; margin-top: 40px;
		input { @extend .btn; }
		input { @extend .btn-sm; }
		input[type="submit"] { @extend .btn-primary; }
		input:not([type="submit"]) { @extend .btn-success; }
	}
	br { display:none; }
}