@mixin gallery { font-size: 14px;
	.gallery-caption { position: relative; height:100%; width:100%; overflow: hidden; }
	.gallery-items>div {
		@include transition(left, 250ms, ease-out);
		width: 100%; height: 100%; overflow: hidden; text-align: center;
		top: 0; left: 0; display: none; position: absolute;
		&.left { left: -100%; }
		&.right { left: 100%; }
		&.active, &.left, &.right { display: block; }
	}
	.gallery-left,.gallery-right,.gallery-toggle {
		@include transition(opacity, 100ms, ease-out); @include block-shadow;
		display: block; position: absolute; opacity: .5; color: #029351;
		background-color: #F3F3F3; text-align: center; cursor: pointer;
		&:hover { opacity: 1; }
	}
	.gallery-left,.gallery-right {
		top: 50%; height: 50px; width: 20px; line-height: 50px; margin-top: -25px;
	}
	.gallery-toggle {
		bottom: 0; right: 0; height: 25px; width: 25px; line-height: 25px; font-size: 1.5em;
	}
	.gallery-left { left: 0; }
	.gallery-right { right: 0; }
	.gallery-loader { display: none; color: #029351; font-size: 50px; position: absolute; width: 100%; height: 100%; text-align: center; top: 0; left: 0;
		>.fa { position: absolute; top: 50%; left: 50%; margin: -25px; }
	}
}


.fullscreen-gallery { @include gallery; display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99; background-color: rgba(0,0,0,0.9);
	.gallery-items {
		> div img { width: auto; height: auto; margin: 0;
			&.tall { width: auto; height: 100%; }
			&.wide { width: 100%; height: auto; }
		}
	}
	.gallery-toggle { bottom: auto; top: 0; font-size: 26px; width: 35px; height: 35px; line-height: 35px; }
	@media(min-width: $screen-sm-min) {
		& { padding: 10%; }
		.gallery-left, .gallery-right { font-size: 20px; height: 70px; width: 30px; line-height: 70px; margin-top: -35px; }
	}
}