section.main-slider { color: #FFF; text-align: center; height: 500px; position: relative;
	.slider-item { position: absolute; width: 100%; height: 100%; background-size: cover; background-position: center center; }
	.slider-items { height: 100%; position: relative; }
	.slider-item-caption { max-width: 450px; margin: 95px 0 0; text-shadow: 0px 0px 2px #000; }
	.slider-item-subtitle { margin: 0; font-weight: 300; text-transform: uppercase; }
	.slider-item-title { margin: 5px 0 25px; text-transform: uppercase; font-size: 36px; font-weight: 600; }
	.slider-item-text { font-size: 1.2em; font-weight: 300; margin: 0 0 40px; }
	.slider-indicators {position: absolute;width: 100%;bottom: 100px;}
}

@media(max-width: $screen-xs-max) {
	section.main-slider { height: 420px;
		.slider-item-caption { margin-top: 55px; max-width: 350px; margin-left: auto; margin-right: auto; }
		.slider-item-title { font-size: 30px; }
		.slider-item-text { font-size: 1em; margin-bottom: 30px; }
	}
}