.tile { text-align: center; position: relative; height: 420px; margin-bottom: 50px; }
.tile-image { height: 45%; overflow: hidden; }
.tile-body { height: 55%; background-color: #f3f3f3; padding: 25px 30px; }
.tile-title { margin: 0 0 15px; text-transform: uppercase; font-weight: 800; font-size: 22px; }
.tile-text { color: #97a6b7; margin-bottom: 20px; }

.tile-sm { color: inherit; height: 320px; margin-bottom: 20px;
	.tile-body { padding: 17px 10px; height: 40%; }
	.tile-title { font-size: 20px; margin-bottom: 10px; }
	.tile-text { margin-bottom: 0; font-weight: 300; }
	.tile-image { height: 60%; }
}

a.tile{ @include block-link; }