@import 'variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-select';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "main";
@import "admin_nav";
@import "forms";
@import "backgrounds";
@import "custom";

.container-fluid { @extend .form-format; padding-bottom: 100px;
	&.sessions, &.registrations, &.passwords { max-width: 600px; padding-top: 15px;
		@media(min-width: $screen-sm-min) { padding-left: 50px; padding-right: 50px; }
	}
}
