@import 'variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-select';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "main";
@import "admin_nav";
@import "forms";
@import "backgrounds";
@import "custom";

.container-fluid { @extend .form-format; padding-bottom: 100px;
	&.sessions, &.registrations, &.passwords { max-width: 600px; padding-top: 15px;
		@media(min-width: $screen-sm-min) { padding-left: 50px; padding-right: 50px; }
	}
	&.properties { max-width: 900px; padding-top: 15px;
		@media(min-width: $screen-sm-min) { padding-left: 50px; padding-right: 50px; }
	}
}

#new_property_map.active { height: 300px; }

div.alert-dismissible { position: fixed; top: 0; right: 0; z-index: 8; margin: 40px 10px 0 0; opacity: 0.93; }

.characteristic-option {
	float: right; position: relative; top: 3px;
}
.characteristic-option button.form-control.selectpicker {
	display: inline-block; width: auto; height: 24px; padding: 0 12px 0 5px;
}
.characteristic-option input {
  display: inline-block !important;
  width: auto !important;
  height: 24px !important;
  padding: 0 12px 0 5px !important;
  max-width: 65px;
}
.characteristic-option div.bootstrap-select.btn-group {
	width: auto !important;
}
label.checkbox-inline:not(.active)+.characteristic-option {
	display: none;
}

.nav.nav-tabs { margin: 20px 0 30px; }