@import 'variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-select';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "main";
@import "admin_nav";
@import "navigation";
@import "footer";
@import "forms";
@import "backgrounds";
@import "wall";
@import "gallery";
@import "card";
@import "file_picker";
@import "video_input";
@import "searchbox";
@import "custom";

section.search-box { margin: -15px -50px 0; background-color: $brand-primary;
	@media(max-width: $screen-xs-max) { margin-left: -15px; margin-right: -15px; }
	@media(min-width: $screen-lg-min) {
		.search-box-submit { margin-top: 42px; }
	}
}

.container-fluid { @extend .form-format; padding-bottom: 100px;
	&.sessions, &.registrations, &.passwords { max-width: 600px; padding-top: 15px;
		@media(min-width: $screen-sm-min) { padding-left: 50px; padding-right: 50px; }
	}
	&.properties, &.developments, &.showcase_items { max-width: 900px; padding-top: 15px;
		&.index, &.search { max-width: 1200px; }
		@media(min-width: $screen-sm-min) { padding-left: 50px; padding-right: 50px; }
		&.show { width: 1160px; padding: 30px; max-width: none;
			@media(max-width: 1199px) { width: 960px; }
			@media(max-width: 991px) { width: 740px; }
			@media(max-width: 767px) { width: 100%; padding: 10px; }
		}
	}
}

#new_property_map.active, #new_development_map.active { height: 300px; }

div.alert-dismissible { position: fixed; top: 0; right: 0; z-index: 8; margin: 40px 10px 0 0; opacity: 0.93; }

.characteristic-option {
	float: right; position: relative; top: 3px;
}
.characteristic-option button.form-control.selectpicker {
	display: inline-block; width: auto; height: 24px; padding: 0 12px 0 5px;
}
.characteristic-option input {
  display: inline-block !important;
  width: auto !important;
  height: 24px !important;
  padding: 0 12px 0 5px !important;
  max-width: 65px;
}
.characteristic-option div.bootstrap-select.btn-group {
	width: auto !important;
}
label.checkbox-inline:not(.active)+.characteristic-option {
	display: none;
}

.nav.nav-tabs { margin: 20px 0 30px; }

/*PANEL CARD */
.panel-card { @include block-shadow; position: relative; border: 1px solid #ececec; padding-left: 120px; padding-right: 400px; 
	+.panel-card { margin-top: 15px; }
	&.small-actions { padding-right: 300px; padding-left: 90px;
		.panel-card-content { height: 65px;
			h2 { font-size: 18px; }
		}
		.panel-card-actions { width: 300px;
			a, button { width: calc(100% / 4 - 10px); padding-top: 12px; font-size: .8em; }
		}
		.panel-card-image { padding: 5px;
			img { width: 75px; height: 55px; }
		}
		&.panel-card-actions-3 { padding-right: 220px;
			.panel-card-actions { width: 220px;
				a { width: calc(100% / 3 - 10px);
				}
			}
		}
	}
	&.panel-card-actions-4 {
		.panel-card-actions { width: 340px;
			a, button { width: calc(100% / 4 - 10px); }
		}
	}
}
a.panel-card-link { color: inherit;
	&:hover h2 { text-decoration: underline; }
}
.panel-card-image { position: absolute; left: 0; top: 0; padding: 10px; 
	img { width: 100px; height: 75px; }
}
.panel-card-content { padding: 10px; height: 95px; position: relative; 
	h2 { margin: 1px 0 6px; font-size: 22px; }
}
.panel-card-actions { position: absolute; right: 0; top: 0; height: 100%; width: 420px; 
	a, button { position: relative; width: calc(100% / 5 - 10px); display: block; margin: 5px; padding: 22px 0 0; float: left; text-align: center; height: calc(100% - 10px); border: 1px solid; border-radius: 5%; font-size: 1em; color: #555; background-color: #f5f5f5; 
		&>span { display: block; }
		&>i { font-size: 1.6em; }
		&[data-method=delete] { color: #E26E6E; }
	}
	form { display: inline;
		button { padding-top: 4px; }
	}
}
.panel-card-status { margin: 6px 0 0; }