@import 'variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-select';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "main";
@import "admin_nav";
@import "navigation";
@import "footer";
@import "forms";
@import "backgrounds";
@import "wall";
@import "gallery";
@import "card";
@import "file_picker";
@import "video_input";
@import "searchbox";
@import "custom";

section.search-box { margin: -15px -50px 0; background-color: $brand-primary;
	@media(max-width: $screen-xs-max) { margin-left: -15px; margin-right: -15px; }
	@media(min-width: $screen-lg-min) {
		.search-box-submit { margin-top: 42px; }
	}
}

.container-fluid { @extend .form-format; padding-bottom: 100px;
	&.sessions, &.registrations, &.passwords { max-width: 600px; padding-top: 15px;
		@media(min-width: $screen-sm-min) { padding-left: 50px; padding-right: 50px; }
	}
	&.properties, &.developments, &.showcase_items, &.promotions, &.contacts, &.panel { max-width: 900px; padding-top: 15px;
		&:not(.panel).index, &.search { max-width: 1200px; }
		@media(min-width: $screen-sm-min) { padding-left: 50px; padding-right: 50px; }
		&.show { width: 1160px; padding: 30px; max-width: none;
			@media(max-width: 1199px) { width: 960px; }
			@media(max-width: 991px) { width: 740px; }
			@media(max-width: 767px) { width: 100%; padding: 10px; }
		}
	}
}

#new_property_map.active, #new_development_map.active { height: 300px; }

div.alert-dismissible { position: fixed; top: 0; right: 0; z-index: 8; margin: 40px 10px 0 0; opacity: 0.93; }

.characteristic-option {
	float: right; position: relative; top: 3px;
}
.characteristic-option button.form-control.selectpicker {
	display: inline-block; width: auto; height: 24px; padding: 0 12px 0 5px;
}
.characteristic-option input {
  display: inline-block !important;
  width: auto !important;
  height: 24px !important;
  padding: 0 12px 0 5px !important;
  max-width: 65px;
}
.characteristic-option div.bootstrap-select.btn-group {
	width: auto !important;
}
label.checkbox-inline:not(.active)+.characteristic-option {
	display: none;
}

.nav.nav-tabs { margin: 20px 0 30px; }

/*PANEL CARD */
$panel-card-actions-width-2: 150px;
$panel-card-actions-width-3: 220px;
$panel-card-actions-width-4: 300px;
$panel-card-actions-width-4-bis: 340px;
$panel-card-actions-width-5-bis: 380px;
$panel-card-actions-width-5: 410px;
$panel-card-actions-width-7: 580px;

.panel-card { @include block-shadow; position: relative; border: 1px solid #ececec; padding-left: 120px; padding-right: $panel-card-actions-width-7; 
	+.panel-card { margin-top: 15px; }
	&.small-actions { padding-right: $panel-card-actions-width-5-bis; padding-left: 90px;
		.panel-card-content { height: 65px;
			h2 { font-size: 18px; }
		}
		.panel-card-actions { width: $panel-card-actions-width-5-bis;
			a, button { width: calc(100% / 5 - 10px); padding-top: 12px; font-size: .8em; }
		}
		.panel-card-image { padding: 5px;
			img { width: 75px; height: 55px; }
		}
		&.panel-card-actions-2 { padding-right: $panel-card-actions-width-2;
			.panel-card-actions { width: $panel-card-actions-width-2;
				a { width: calc(100% / 2 - 10px);
				}
			}
		}
		&.panel-card-actions-3 { padding-right: $panel-card-actions-width-3;
			.panel-card-actions { width: $panel-card-actions-width-3;
				a { width: calc(100% / 3 - 10px);
				}
			}
		}
	}
	&.panel-card-actions-4 {
		.panel-card-actions { width: $panel-card-actions-width-4-bis;
			a, button { width: calc(100% / 4 - 10px); }
		}
	}
	&.panel-card-actions-5 {
		.panel-card-actions { width: $panel-card-actions-width-5;
			a, button { width: calc(100% / 5 - 10px); }
		}
	}
	&.actions-toggle { padding-right: 0; overflow: hidden;
		.panel-card-actions { @include transition(right, 250ms, ease-out); right: -$panel-card-actions-width-7; background-color: #F5F5F5;
			.panel-card-actions-toggle {
				position: absolute; height: 100%; background-color: #F5F5F5;
				right: 100%; width: 30px; text-align: center; border: 1px solid #C1C0C0;
				border-top: none; border-bottom: none; box-shadow: 0px 0px 2px 0px #c0c0c0;
				cursor: pointer; line-height: 94px;
			}
			&.active { right: 0 !important;
				.panel-card-actions-toggle {
					&:active { box-shadow: none; }
					i.fa { @include rotate(45deg); }
				}
			}
		}
		&.small-actions { .panel-card-actions { right: -$panel-card-actions-width-5-bis; .panel-card-actions-toggle { line-height: 68px; } } }
		&.panel-card-actions-2 { .panel-card-actions { right: -$panel-card-actions-width-2; } }
		&.panel-card-actions-3 { .panel-card-actions { right: -$panel-card-actions-width-3; } }
		&.panel-card-actions-4 { .panel-card-actions { right: -$panel-card-actions-width-4-bis; } }
		&.panel-card-actions-5 { .panel-card-actions { right: -$panel-card-actions-width-5; } }
	}
}

.panel-card.checkable { padding-left: 130px;
	a.panel-card-notifications { left: 17px; }
	.panel-card-image { left: 20px; }
}

.panel-card-checkbox { position: absolute; left: 0; top: 0; height: 100%; width: 29px; line-height: 95px; text-align: center; background-color: #F5F5F5; box-shadow: 0px 0px 2px 0px #c0c0c0;
	label {padding-left: 15px;}
}

a.panel-card-notifications { position: absolute; left: 0; top: 0; display: block; font-size: 2em; line-height: 0; z-index: 1; margin: 0; padding: 3px 5px 1px; background-color: rgba(0,0,0,0.5); border-radius: 50%; text-align: center; width: 33px;
	span { position: absolute; top: 0; left: 0; color: #000; font-size: .4em; width: 100%; line-height: 31px; }
}

a.panel-card-link { color: inherit;
	&:hover h2 { text-decoration: underline; }
}
.panel-card-image { position: absolute; left: 0; top: 0; padding: 10px; 
	img { width: 100px; height: 75px; }
}
.panel-card-content { padding: 10px; height: 95px; position: relative; 
	h2 { margin: 1px 0 6px; font-size: 22px; }
}
.panel-card-actions { position: absolute; right: 0; top: 0; height: 100%; width: $panel-card-actions-width-7; 
	a, button { position: relative; width: calc(100% / 7 - 10px); display: block; margin: 5px; padding: 22px 0 0; float: left; text-align: center; height: calc(100% - 10px); border: 1px solid; border-radius: 5%; font-size: 1em; color: #555; background-color: #f5f5f5; 
		&>span { display: block; }
		&>i { font-size: 1.6em; }
		&[data-method=delete] { color: #E26E6E; }
	}
	form { display: inline;
		button { padding-top: 4px; }
	}
	.showcase-item-toggle { color: #F0AD4E; }
	.promotion-toggle { color: $brand-primary; }
}
.panel-card-status { margin: 6px 0 0; }


/* SHOWCASE SHOW */
.container-fluid.showcase_items.show .slider-item { position: relative; height: 400px; background-size: cover; margin-top: 15px; color: #FFF; text-shadow: 1px 1px 5px #000;
	&:before {content: ' ';display: block;position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(0,0,0,0.2);}
	&>.container { position: relative; width: 100%; text-align: center; display: table; }
	.slider-item-subtitle { margin: 0; }
	.slider-item-title { margin: 10px 0 5px; }
	.slider-item-text { margin: 0 0 15px; }
	.slider-item-caption {display: table-cell;height: 400px;vertical-align: middle;}
}

/* PANEL */
.panel-actions { @include clear-both;
	a {
		float: left; width: calc(50% - 10px); text-align: center;
		border: 2px solid #000; margin: 5px; height: 100px;
		border-radius: 8px; color: #fff; padding: 26px 0;
		box-shadow: inset 0px 0px 10px 2px #FFF;
		i, span { display: block; }
		i { font-size: 2em; }
		&:hover { box-shadow: inset 0px 0px 12px 3px #FFF; }
		&:active { box-shadow: inset 0px 0px 10px 2px #555; }
	}
}
.panel-default .panel-actions a {background-color: #f5f5f5; color: #000; }
.panel-primary .panel-actions a {background-color: $brand-primary; border-color: $brand-primary; }
.panel-success .panel-actions a {background-color: #dff0d8; color: #3c763d; border-color: #3c763d;}
.panel-info .panel-actions a {background-color: #D9EDF7; color: #337290; border-color: #337290; }
.panel-warning .panel-actions a {background-color: #FCF8E3; color: #8A6D3B; border-color: #8A6D3B; }
.panel-danger .panel-actions a {background-color: #f2dede; color: #a94442; border-color: #a94442;}

.panel-actions-1 { @extend .panel-actions;
	a { width: calc(100% - 10px); }
}
.panel-actions-2 { @extend .panel-actions;
	a { width: calc(50% - 10px); }
}
.panel-actions-3 { @extend .panel-actions;
	a { width: calc(33.33% - 10px); }
}

/* TABLE TWEAK */
table.table tr.bold { font-weight: 600; background-color: #f8f8f8; }


/* CONTROL BUTTONS */
.control-buttons {
	&>.btn { height: 35px; padding: 6px; width: 60px;
		i { font-size: 20px; vertical-align: middle; }
	}
	&>span.btn { cursor: default;
		&:active, &:hover { box-shadow: none; z-index: 0; }
	}
}