<h1 style="margin-bottom:30px;">Showcase</h1>

<% if @showcase_items.blank? %>
	<p>No elegiste ningúna propiedad o emprendimiento para que aparezca en el showcase</p>
	<%= link_to 'Ver propiedades', properties_path %><br>
	<%= link_to 'Ver emprendimientos', developments_path %><br>
<% else %>
	<% @showcase_items.each do |showcase_item| %>
	  <%= render 'card', showcase_item: showcase_item %>
	<% end %>
<% end %>