<h1 style="margin-bottom:30px;">Showcase <%= link_to 'Crear nuevo', new_showcase_item_path, class: 'pull-right btn btn-warning' %></h1>

<% @showcase_items.each do |showcase_item| %>
  <%= render 'panel_showcase_item', showcase_item: showcase_item %>
<% end %>