<p id="notice"><%= notice %></p>

<p>
  <strong>Showcaseable:</strong>
  <%= @showcase_item.showcaseable %>
</p>

<%= link_to 'Edit', edit_showcase_item_path(@showcase_item) %> |
<%= link_to 'Back', showcase_items_path %>
